# typescripts, for my eyes only
1
1t
2
2t

# Messy folders
puzzle3/linux_Data
puzzle3/linux.x86
puzzle3/linux.x86_64
puzzle7/explode

# Juicy bits
puzzle2/username.txt
puzzle3/username.txt
puzzle3/lockpick.zip
puzzle4/constants.py
puzzle4/client.zip
puzzle4/new/constants.py
puzzle4/new/client.zip
puzzle5/user.py